.header{
    background-color: rgb(10, 116, 186);
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
.payment{
    font-size: 50px;
    color: white;
}
.x-button{
    border-style: solid;
    font-size: 30px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    color: gray;
    background-color: rgb(228, 227, 227);
    border: none;
    margin-top: 5px;
    margin-right: 30px;
    padding-right: 5px

}
.Icon{
    width: 70px;
    padding-left: 30px;
    padding-top: 15px;
}
.middle{
    color: rgb(156, 155, 155);
    font-size: 60px;
}
.DL{
    border-style: solid;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: gray;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
}
.description{
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
    color: gray;
}
.page-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    position: fixed;
    left: 0px;
    right: 0px;
}
.body{
    width: 100%;
}

